body{
    /* background-color: #fcfcfc;*/
    padding-top: 80px;
}



.navbar a{
    color:black;
}
.navbar a:hover{
    color:black;
}

#top-bar{
    background-color: rgb(31, 31, 27);

}

#navigation {
    background-color: rgb(255, 172, 186);
}


.header{
    font-size: 245%;
    color: rgb(255, 172, 186);
}

.container-main-text{
    margin-top: 6vh;
    margin-bottom: 35%;
    color:white;
}

.main-text{
    padding-inline: 20%;
}

.flecha-main{
    margin-top: 4vh;
    font-size: 350%;
}

/* Carrusel*/
.carousel-img{
    height: 36vh;

}
.carousel-control-next-icon{
    opacity: 0%;
}
.carousel-control-next-icon:hover{
    opacity: 100%;
}
.carousel-control-prev-icon{
    opacity: 0%;
}
.carousel-control-prev-icon:hover{
    opacity: 100%;
}


.seccion-especialidades{
    display: flex;
    flex-direction: column;
    padding-inline: 5%;
    align-items: center;
}


.a-catalogo, .flecha-main{
    padding: 10px 0;
    width: 50%;
    flex: 0 0 auto;
    border: 2px solid rgb(255, 172, 186);
    border-radius: 8px;
    text-decoration: none;
    font-family: roboto, "URW Gothic", "Verdana","DejaVu Sans";
    font-size: 18px;
    color: rgb(255,172,186);
    font-weight: bold;
    margin: 10px 0px;
    background-color: transparent;
    text-align: center;
}

.a-catalogo:hover, .flecha-main:hover{
    /*original color: 255 118 141*/
    background-color: rgb(253, 99, 125);
    color: white;
    border-color: rgb(253, 99, 125);
    transition: 0.2s;
}



/* FOOTER */
.footer{
    margin-left: 2%;
    color:white;
}
.footer__top
{
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgb(0, 0, 70);
    /* background-color: #fcfcfc;*/
}
.footer__top__items
{
    padding: 40px 0px;
    box-sizing: border-box;
}
.footer__top__title
{
    font-size: 1.05rem;
    text-transform: uppercase;
    margin: 0px 0px 5px 0px;
}
.footer__top__icon
{
    width: 50px;
    height: 26px;
    margin: 0px 5px 5px 0px;
}
.footer__top__item
{
    margin-bottom: 15px;
}
.footer__top__item:last-child
{
    margin-bottom: 0px;
}
.footer__top__social-media-list
{
    padding-left: 0px;
    margin: 0px;
}
.footer__top__social-media-item
{
    font-size: 1.5rem;
    margin-right: 10px;
}
.footer__top__social-media-item:last-child
{
    margin-right: 0px;
}
.footer__top__info-list
{
    padding-left: 0px;
    margin: 0px;
}
.footer__top__info-item
{
    font-size: 0.9rem;
}
.footer__top__info-icon
{
    margin-right: 2px;
}
.footer__bottom
{
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgb(0, 0, 70);
    /* background-color: #fcfcfc;*/
}
.footer__bottom__items
{
    padding: 15px 0px;
    box-sizing: border-box;
}
.footer__bottom__copyright-text
{
    font-size: 0.9rem;
    line-height: 1.5;
    font-weight: 300;
}
.footer__bottom__copyright-empretienda-logo
{
    margin-left: 5px;
}
.footer__bottom__datafiscal img
{
    height: 40px;
    width: auto;
}
.footer__bottom__link
{
    margin: 0;
    padding: 0;
    line-height: 1;
}
.footer-media-item{
    height: 1.5rem;
    width: 1.5rem;
}
.footer ul li {
    list-style: none;
}
.footer a{
    text-decoration: none;
    color: white; /* Color de las letras del fondo*/
}
/* END FOOTER */
